.el-header,
.el-main,
.el-footer {
  min-width: 1190px;
  padding: 0 !important;
  overflow: unset;
}
.el-main,
.el-footer {
  width: 1190px;
  margin: 0 auto;
}




.layout-default {
  -webkit-font-smoothing: antialiased;
  font-family: "-apple-system",
    BlinkMacSystemFont,
    Roboto,
    "Helvetica Neue",
    "MIcrosoft YaHei",
    sans-serif !important;
  background-color: #F8F8F8;
  overflow-y: scroll;
}
